/* css 변수화 */

:root {
    --red: #ff0000;
    --blue: #0000ff;
    --green: #00FF00;
    --grey: #505050;
    --white: #ffffff;
    --black: #000000;
}

* {
    color: var(--fC);
    background-color: var(--bg);
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

.red {
    --bg: var(--red)
}

.blue {
    --bg: var(--blue)
}

.grey {
    --bg: var(--grey)
}

.green {
    --bg: var(--green)
}

.btn:focus {
    outline-style: none;
}